/cedid/pdfs/*
/plenainclusion/pdfs/*
/transparenciaaragon/pdfs/*
/asociacion_lectura_facil/pdfs/*
/liber/pdfs/*
/plena_inclusion_la_rioja/pdfs/*
/discapnet/pdfs/*

/cedid/.ipynb_checkpoints/web_scrapping-checkpoint.ipynb
/asociacion_lectura_facil/.ipynb_checkpoints/web_scrapping-checkpoint.ipynb
/liber/.ipynb_checkpoints/web_scrapping-checkpoint.ipynb
/transparencia_aragon/.ipynb_checkpoints/web_scrapping-checkpoint.ipynb

*.pdf
*checkpoint.ipynb
*.txt
